<!DOCTYPE html>
<html>
<head>
  <title>BeccasMap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= include_gon %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="topmenubar" style="background:maroon;color:#ffff77;">
			<div id="menupadding" style="padding-left:10px;padding-right:10px;">
				<table style="width:100%;">
					<tr>
						<font>
							<td>B<small>ECCAS</small>M<small>AP.COM</small></td>
							<td id="right-header" style="text-align:right;position:relative;overflow:hidden;text-overflow:hidden;white-space:nowrap;">B<small>EST</small> U<small>PCOMING</small> E<small>VENTS</small> <small>IN</small> NYC</td>
						</font>
					</tr>
				</table>
			</div>
		</div>
	</header>
<%= yield %>
</body>
</html>